*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    perspective: 200px;

}
i:hover{
    color:#c700cc;

}

/****************************** Up side*******************************/ 

.upSide{

    color: white;
    background-color: #16092c ;
    padding-top: 10px;
}

.upSide .ulist-one ul li{
    list-style: none;
    display: inline-block;
    margin-left: 13px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
}
.upSide .ulist-one ul li a{
color: white;
text-decoration: none;
outline-width: 0
    
}

.upSide .ulist-two ul li{
    list-style: none;
    display: inline-block;
    margin-right: 0px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    
}

.upSide .ulist-two ul {
   text-align: end;
    color: white;
    text-decoration: none;
    float: right;
}

.upSide .ulist-two ul li a  {
    text-decoration: none;
    float: left;
}

.upSide .ulist-two ul li a span {
   font-weight: 600;
    color: white;
    text-decoration: none;
}

/****************************** Up side*******************************/ 
/****************************** Nav Bar*******************************/ 
.navbar{
    padding-left: 15px;
    z-index: 5;
    padding :0px;
    padding-left: 20px;

}
.navbar div.logo img{
width: 100px;
float: right;
}
@media(max-width:1000px) {
    .navbar div.logo img{ margin-left: 10px;  
}}
.navbar div.logoicon i{
    font-size: 35px;
     color:#8f0093;
     float: right;
     cursor: pointer;

}
@media(max-width:1000px) {
    .navbar div.logoicon{ display: none;}  
}



.navbar div.logo img:hover{
cursor: pointer;
}
@media(min-width:520px) {
    #logoone{ display: none;}  
}
@media(max-width:520px) {
    #logotwo{ display: none;}  
}

.navbar a{
    margin-right: 15px;
    color:#8f0093;
   
}
.navbar .dropdown{
direction: rtl;

}


.navbar .collapse ul li form#login {
    border: none;
    direction: rtl;
    text-align: right;
}
.navbar .collapse ul li form#login  select{
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight:500 ;
    outline-width: 0;

}


.navbar .collapse ul li form#login  select option {
   
    font-size: 16px;
    font-weight:500 ;
    direction: rtl;
    text-align: left;
}



.navbar .collapse  ul li.main a span{
    font-weight: 400;
    font-size: 20px;
   color: black;
}


.navbar .collapse ul li  form input {
    padding: 5px ;
    color: #8f0093 ;
    border: 1.5px solid #8f0093;
    text-align: right;
    border-radius: 3px;
    min-width: 80%;
    box-shadow: 0px 0px 10px rgb(206, 206, 206);
}
.navbar .collapse ul li  form input:focus {
    outline-width: 0
}
.navbar .collapse ul li  form i {
    padding: 10px ;
    margin-right: 10px;

}
.navbar  .container a span.Show{
    font-weight: bolder;
    font-size: 20px;
    color: red;
    text-decoration: none;
    line-height: 2;
}
.navbar  .container a{  text-decoration: none;   } 
.navbar  .container .collapse a span.Show{
    font-weight: bolder;
    font-size: 20px;
    color: red;
    text-decoration: none;
}
 
.navbar  .container .collapse a{  text-decoration: none;   } 

.navbar button:focus{
outline-width: 0;
float: left;
}
@media(max-width:520px) {
    #heart{ 
        display: none;
        margin: 10px;
      
       
    }
   
    }


    .navbar  .container .collapse {
        text-align: center;
     }
     
#searchInput{
       
        min-width: 450px;
      
    }
    #ssss{
        font-weight: 900;
        font-size: 20px;
        color: red;
    }
    .navbar  .container .collapse .dropdown a{
font-weight: 700;
font-size: 15px;
    }

    @media(max-width:520px) {
        .navbar  .container .collapse .dropdown-menu a {text-align: right;} }

        @media(min-width:520px) {
            .navbar  .container .collapse .dropdown-menu a  {z-index: 10;} }

    @media(min-width:520px) {
         #search{ display: none;}
        
        }
        #ShowOne{
            line-height: 50px;
        }
@media(min-width:520px) {
    #ShowOne{ display: none;}
    
    }

    @media(max-width:520px) {
        #ShowTwo{ display: none;}
        
        }

    @media(max-width:520px) {
       .navbar .container{ margin-right:0px;}
        
        }
        @media(max-width:520px) {
            .navbar a{ margin-right:15px;}
             
             }

/****************************** Nav Bar*******************************/ 

.content{
    background-color: #efefef ;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    padding-bottom: 100px;
}
.content .container{
 padding: 25px;
 text-align: right;
 width: 60%;
}
@media(max-width:850px) {
    .content .container{width: 100%;}
     
}
@media(max-width:850px) {
    .content .container .dlvLoc .LocationBox .lable1{
     
        margin-bottom: 30px;
        font-weight: bolder;
        font-size: 20px;
}}
@media(min-width:850px) {
    .content .container .dlvLoc .LocationBox .lable1{
   display: none;
    }  }
     
.content .container a.icon {
float: right;
margin-left: 20px;
   }
.content .container a i{
color: black;
       }
.content .container p{
       font-weight: 700;
       font-size: 18px;
               } 
               
 .content .container .dLv {
     margin-bottom: 50px;
 }
.content .container .dLv a{
       font-weight: bolder;
       font-size: 13px;
       color: black;
       cursor: pointer;
       margin-left: 30px;
       text-decoration: none;
       padding: 10px;
     
 } 
 .content .container .dLv a#one{

    border-bottom: 3px solid #8f0093;
 }

  .content .container .dlvLoc p {
     color: rgb(163, 160, 160);
     font-size: 12px;
     font-weight: 400;
     margin-top: 30px;
     margin-bottom: 20px;
}
.content .container .LocationBox {
 background-color: white;
padding: 30px;
text-align: right;
direction: rtl;
 border-radius: 20px;
 box-shadow: 0px 0px 5px #777777;
 padding-bottom: 50px;
}
.content .container .LocationBox form .row label {
font-weight: bolder;
font-size: 15px;
}

   .content .container .LocationBox form .row label i {
color: #8f0093;
}
.content .container .LocationBox form .row div input{
    background-color: #f0f3f4;
    border-radius: 10px;
    padding: 10px;
    border: none;   
}
.content .container .LocationBox form .row div select#city {
    background-color: #f0f3f4;
    border-radius: 10px;
    padding: 10px;
    border: none;   
    min-width: 100%; 
    text-align: right;
    outline-width: 0
}
.content .container .LocationBox form .row div select#city option {
    background-color: #f0f3f4;
  font-weight: 400; 
}
.content .container .LocationBox form .row div textarea{
    background-color: #f0f3f4;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.content .container .LocationBox form button {
  color: red;
  float: left;
  padding: 5px 20px 2px 20px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  color:white;
}
.content .container .LocationBox form button.save1{
    background-color: #40c471;  
}
.content .container .LocationBox form button.no1{
    background-color:#d9dadb;
    color: black;  
}
.content .container button.next1{
   color: #8f0093;
   float: left;
   min-width: 150px;
   padding: 10px;
   margin: 30px 0px 30px 0px;
   border: 2px solid #8f0093;
   border-radius: 10px;
   background-color: #fff;
   outline-width: 0;
 }
 .content .container button.next1:hover{
    background-color: #8f0093;
    color: #fff;
 }
 .content .tt{
     background-color: red;
     width: 100%;
     height: 100px;
 }

#o{   display: none; }

.content .container2{
    background-color: white;
    padding: 5px;
    text-align: right;
    direction: rtl;
     border-radius: 20px;
     box-shadow: 0px 0px 5px #777777;
     padding-right: 20px;
     padding-top: 30px;
     
   }

   .content .container2 form{
       padding: 20px;
}
.content .container2 form div{
    margin-bottom: 50px;
}

.content .container2 form div input[type='radio']{
  background-color: #8f0093;
  margin-left: 20px;
  color: #8f0093;
  border-radius: 50%;
}
.content .container2 form div span{
font-size: 15px;
font-weight: bolder;

  }
  .content .container2 form div p{
    font-size: 12px;
    font-weight: 500;
    margin-right: 40px;
   
      }





/****************************** Fooooter*******************************/ 


/****************************** Fooooter*******************************/ 


.footer{
    width: 100%;
    background-color: #474747;
    font-size: 30px;
    padding: 30px;
    color: white;
    text-align: center;   
    position: relative;
}

@media(max-width:520px) {
    .footer{ 
        width: 100%;
        background-color: #474747;
        font-size: 17px;
        padding: 30px;
        color: white;
        text-align: center;   
        position: relative;  
    }
     
     }

.footer .container .row .uone .con1 a{
color: white;
margin-right: 5px;
padding: 10px;
border-radius:100%;

}
.footer .container .row .uone .con1 a:hover{
    color:  #8f0093;
  
    }
#icon{
    padding-top: 20px;
}

    .footer .container .row .utow .con1 a{
        color: white;
        margin-right: 5px;
        padding: 10px;
        border-radius:100%;
      
        }
        .footer .container .row .utow .con1 a:hover{
            color:  #8f0093;
            margin-right: 5px;
            padding: 10px;
            border-radius:100%;
           
            }
        



.footer .container .row .uone span{
    margin-bottom: 10px;
    color: white;
    display: block;
    margin-bottom: 20px;
}
.footer .container .row .utow span{
    margin-bottom: 10px;
    color: white;
    display: block;
    margin-bottom: 20px;
}






/****************************** Fooooter*******************************/ 

